@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@font-face {
    font-family: 'Nevis';
    src: url('../fonts/nevis.ttf') format('truetype');
}
@font-face {
    font-family: 'nexabold';
    src: url('../fonts/Nexa Bold.otf') format('truetype');
}
@font-face {
    font-family: 'nexalight';
    src: url('../fonts/Nexa Light.otf') format('truetype');
}

body {
    color: #555;
    font-size: 1em;
    font-family: 'Open Sans';
    background: #eee;
    overflow-x: hidden;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.wrap {
    width: 100 %;
    margin: 0 auto;
}

.headbar {
    background: #222;
    color: #fff;
    border-radius: 0;
}

.headbar-topline{
    height: 0.4em;
    background: #47a3da;   
}

.headbar-header{
    color: #fff;
    
}

.headbar-logo{
    width: 13.5em;
    background: #333;
    display: inline-block;
}

.logo{
    width: 100%;
    padding: 2em 3em;
    cursor: pointer;
}

.logo:hover{
    background: #444;
}

.headbar-account{
    float: right;
    text-decoration: none;
    color: #ddd;
    font-size: 2em;
    padding: 2em;
}

.headbar-account:hover{
    background: #555;
    text-decoration: none;
    color: #fff;
}

.headbar-account span{
    font-size: 1.8em;
}

/**** Side menu ****/

.side-menu-container{
    position: absolute;
    height: 100%;
    background: #222;
    color: #999;
    text-align: center;
}

.side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-menu ul li {
    width: 13.5em;
}

.side-menu ul li a{
    color: #999;
    text-decoration: none;
}

.side-menu ul li p{
    padding: 2em;
    font-size: 1.5em;
}

.side-menu ul li p:hover{
    background: #111;
    color: #ddd;
}

.side-menu ul li p:active{
    position: relative;
    top: 2px;
}

.side-menu ul li p span{
    font-size: 3em;
}

.side-menu-active {
    background: #111;
    color: #ddd;
    border-left: 5px solid #f06060;
}

.side-submenu-container{
    background: #111;
    height: 100%;
    color: #fff;
    text-align: left;
    position: absolute;
    left: 13.5em;
    z-index: 2;
}

.side-submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-submenu ul li {

}

.side-submenu ul li a{
    color: #bbb;
    text-decoration: none;
}

.side-submenu ul li p{
    padding: 1em 3em;
    font-size: 2em;
}

.side-submenu ul li p:hover{
    background: #fff;
    color: #f06060;
}

.side-submenu ul li p:active{
    position: relative;
    top: 2px;
}

/**** Angular section ****/

.angular-section{
    position: relative;
    margin-left: 13.6em;
}

#page-title{
    display: inline-block;
    font-family: 'Quicksand';
    font-size: 4em;
    margin: 0;
    padding: 0 1em;
    vertical-align: middle;
}

.dashboard-turn-status{
    background: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.dashboard-turn-status p:first-child{
    font-family: 'Quicksand';
    font-size: 10em;
    margin: 0;
}

.dashboard-turn-status p:nth-child(2){
    color: #999;
    font-size: 2em;
    padding-bottom: 2em;
    margin: 0;
}

.turn-left { 
    color: #fbc73b;
}

.turn-middle {  
    color: #7ea568;
}

.turn-right { 
    color: #f06060;
}

.dashboard-date{
    background: #f06060;
    color: #fff;
    margin: 0;
    padding: 0 0 3em 3em;
}

.dashboard-date p:first-child{
    font-family: 'Quicksand';
    font-size: 10em;
    margin: 0;
    display: inline-block;
}

.dashboard-date p:nth-child(2){
    font-size: 3em;
    float: right;
    display: inline-block;
    padding: 1em;
}

.dashboard-date p:nth-child(3){
    font-size: 3em;
    margin:0;
    margin-top: -1em;
}

.dashboard-date p:nth-child(4){
    font-size: 1.75em;
    margin:0;
    margin-top: 2em;
}