/* Colors for Website */
@color-light_red: #f06060;
@color-light_green: #7ea568;
@color-dark_yellow: #fbc73b;
@color-light_blue: #47a3da;
@color-light_midnight: #34495e;
@color-dark_midnight: #2c3e50;
@color-background: #e9f0f5;

@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

@font-face {
  font-family: 'Nevis';
  src: url('../fonts/nevis.ttf') format('truetype');
}
@font-face {
  font-family: 'nexabold';
  src: url('../fonts/Nexa Bold.otf') format('truetype');
}
@font-face {
  font-family: 'nexalight';
  src: url('../fonts/Nexa Light.otf') format('truetype');
}
@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham-Book.otf') format('truetype');
}
@font-face {
  font-family: 'gothamr';
  src: url('../fonts/gotham-rounded-book.otf') format('truetype');
}
@font-face {
  font-family: 'gothamrl';
  src: url('../fonts/gotham-rounded-light.otf') format('truetype');
}
@font-face {
  font-family: 'gothamrm';
  src: url('../fonts/gotham-rounded-medium.otf') format('truetype');
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body {
  color: color-dark_midnight;
  font-size: 1em;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: @color-background;
  overflow-x: hidden;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.wrap {
  width: 100%;
  margin: 0 auto;
}

/***functions****/

.iconwraper() {
  vertical-align: middle;
  width: 9em;
  border-radius: 20em;
  padding: 0.2em;
  background: #eee;
  display: inline-block;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

  p{
    font-size: 1.5em;
    border-radius: 5em;
    padding: 1em;
    margin: 0;

    span{
      color: #fff;
      font-size: 3.5em;
    }

  }
}

.boxes() {

  .item-block {
    display: inline-block;
    width: 25em;
    background: #fff;
    color: #555;
    margin: 0.5em;
    text-align: center;
    box-shadow: 0 3px 0 #d7e4ed;
    cursor: pointer;
    border-radius: 2px;
    border-bottom: 4px solid #fff;

    div:first-child {
      margin-top: 4em;
      .iconwraper();
      color: #999;
    }

    .box-label {

      p:first-child {

        letter-spacing: 1px;
        margin: 0;
        font-size: 2em;
        padding: 1em 1em 0 1em;
      }

      p:nth-child(2) {
        font-family: gothamr;
        margin: 0;
        background: #fff;
        padding: 0 1em 3em 1em;
        color: #aaa;
        font-size: 1.5em;
      }
    }
  }

  .item-block:hover {
    border-bottom: 4px solid #f06060;
    opacity: 0.90;
  }

  .item-block:active {
    position: relative;
    top: 2px;
  }
}

.search-blocks() {
  .search-container {
    background: #fff;
    color: #999;
    text-align: center;
    padding: 5em;
    box-shadow: 0 3px 0 #d7e4ed;
    border-radius: 2px;
    margin: 0.5em;

    input {
      font-family: nexalight;
      outline: 0;
      border: none;
      border-bottom: 1px solid #ddd;
      font-size: 4em;
      width: 100%;
    }
  }
}


/**** Header ****/

.headbar {
  background: #fff;
  color: #555;
  border-radius: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 3px 0 #d7e4ed;

  .headbar-header{
    color: #fff;

    .headbar-logo{
      width: 13.5em;
      background: #fff;
      display: inline-block;
      .logo{
        width: 100%;
        padding: 2em 3em;
        cursor: pointer;
      }

      .logo:hover{
        opacity: 0.9;
      }
    }

    #page-title{
      display: inline-block;
      font-family: 'nexalight';
      font-size: 4em;
      margin: 0;
      padding: 0 1em;
      vertical-align: middle;
      color: #999;
    }

    .headbar-account{
      float: right;
      text-decoration: none;
      color: #555;
      padding: 3.65em;
      vertical-align: middle;

      div {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        padding: 0 0.5em;
      }

      div:first-child {
        span{
          background: #fff;
          color: #aaa;
          border-radius: 20em;
          font-size: 4em;
          padding: 0.25em;
        }
      }

      div:nth-child(2) {
        vertical-align: middle;

        p{
          margin: 0;
        }

        p:first-child {
          font-size: 2em;
        }

        p:nth-child(2) {
          font-size: 1.5em;
          color: #999;
        }
      }

      div:nth-child(3) {

        span{
          font-size: 3em;
        }
      }

    }

    .headbar-account:hover{
      background: #333;
      text-decoration: none;
      color: #fff;
    }

  }

}

.headbar-account-active {
  background: #333;
  text-decoration: none;
  color: #fff;
}

/**** Drop down menu ****/

.account-dropdown-menu {
  position: absolute;
  top: 12em;
  background: #111;
  right: 0;
  z-index: 9999;
  width: 32.8em;
  text-align: center;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;

  ul {
    margin: 0;
    padding: 3em 0;

    li {
      padding: 0 4em;
      display: inline-block;
      a {
        text-decoration: none;

        span {
          color: #fff;
          font-size: 3em;
        }

        p{
          margin: 0;
          font-size: 1.5em;
          padding-top: 0.5em;
          color: #fff;
        }
      }

      a:hover {
        opacity: 0.9;
      }

      a:active {
        position: relative;
        top: 2px;
      }
    }

    li:first-child {
      border-right: 1px solid #fff;
    }
  }

}

/**** Side menu ****/

.side-menu-container{
  position: fixed;
  top: 12em;
  height: 100%;
  background: #222;
  text-align: center;

  .side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 13.5em;

      a{
        color: #ddd;
        text-decoration: none;
      }

      p{
        padding: 2em;
        font-size: 1.5em;

        span{
          font-size: 3em;
        }
      }

      p:hover{
        background: #fff;
        color: #555;
      }

      p:active{
        position: relative;
        top: 2px;
      }
    }
  }

  .side-menu-active {
    background: #111;
    color: #555;
    border-left: 5px solid #f06060;
  }
}



.side-submenu-container{
  background: #111;
  height: 100%;
  color: #fff;
  text-align: left;
  position: absolute;
  top: 12em;
  left: 13.5em;
  z-index: 2;

  .side-submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a{
        color: #bbb;
        text-decoration: none;
      }

      p{
        padding: 1em 3em;
        font-size: 2em;
      }

      p:hover{
        background: #fff;
        color: #f06060;
      }

      p:active{
        position: relative;
        top: 2px;
      }
    }
  }
}


/**** Angular section ****/

.ngview-section{
  position: relative;
  top: 15em;
  margin-left: 13.6em;
  padding: 0 0 0 1em;
}

.dashboard-turn-container{
  background: #fff;
  padding: 2em;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 #d7e4ed;

  .dashboard-turn-status{
    margin: 0;
    text-align: center;

    p:first-child{
      font-family: 'Quicksand';
      font-size: 5em;
      margin: 0;
    }

    p:nth-child(2){
      color: #999;
      font-size: 1.5em;
      padding-bottom: 1em;
      margin: 0;
    }

    .turn-left {
      color: @color-dark_yellow;
    }

    .turn-middle {
      color: @color-light_green;
    }

    .turn-right {
      color: @color-light_red;
    }
  }
}

.dashboard-date{
  background: @color-light_red;
  color: #fff;
  margin: 0;
  margin-right: 1em;
  padding: 0 1em 3em 4em;

  p:first-child{
    font-family: 'Quicksand';
    font-size: 10em;
    margin: 0;
    display: inline-block;
  }

  p:nth-child(2){
    font-size: 3em;
    float: right;
    display: inline-block;
    padding: 1em;
  }

  p:nth-child(3){
    font-size: 3em;
    margin:0;
    margin-top: -1em;
  }

  p:nth-child(4){
    font-size: 1.75em;
    margin:0;
    margin-top: 2em;
  }
}


.ds-timeline-container{
  margin: 0;
  margin-right: 1em;

  .notifications-title{
    font-size: 3em;
    background: #fff;
    color: #999;
    padding: 1em;
    text-align: center;
  }

  #ds-timeline{
    position: relative;

    .timelineBar {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 4px;
      background: #d7e4ed;
    }

    .ds-timeline-block{
      margin: 2em;
      overflow-y: hidden;

      .ds-timeline-content {
        margin-bottom: 0.3em;
        position: relative;
        background: #fff;
        width: 42%;
        border-radius: 0.25em;
        box-shadow: 0 3px 0 #d7e4ed;
        padding: 2em 3em;
        display: inline-block;

        p:first-child{
          font-size: 3em;
          color: #777;
          margin: 0;
        }

        p:nth-child(2){
          font-size: 1.5em;
          color: #aaa;
          margin: 0;
          padding-bottom: 0.5em;
        }

        .accept-turn{
          position: absolute;
          top: -15em;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fff;
          text-align: center;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;

          button{
            position: relative;
            top: 50%;
            margin-top: -2.5em;
            font-size: 1.5em;
            padding: 0.75em 1em;
            color: #fff;
            outline: 0;
            border: none;
            background: @color-light_red;
          }

          button:hover{
            background: lighten(@color-light_red, 5%);
          }

          button:active{
            top: 52%;
          }
        }
      }

      .ds-timeline-date {
        width: 42%;
        padding: 2em 0;
        display: inline-block;

        p{
          font-size: 1.5em;
          color: #7f8c97;
        }

      }

      .ds-timeline-icon {
        position: absolute;
        left: 50%;
        margin-left: -2.75em;
        background: #fff;
        padding: 0.2em;
        border-radius: 10em;
        box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

        p{
          background: @color-dark_yellow;
          margin: 0;
          border-radius: 10em;
          padding: 1em;

          span{
            color: #fff;
            font-size: 3.5em;
          }
        }
      }
    }


    .ds-timeline-block:nth-child(even) {
      .ds-timeline-content{
        float: left;
      }
      .ds-timeline-content::before{
        content: '';
        position: absolute;
        top: 2.5em;
        left: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-left: 7px solid white;
      }
      .ds-timeline-date{
        float: right;
        text-align: left;
      }
    }

    .ds-timeline-block:nth-child(odd) {
      .ds-timeline-content{
        float: right;
      }

      .ds-timeline-content::before{
        content: '';
        position: absolute;
        top: 2.5em;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid white;
      }

      .ds-timeline-date {
        float: left;
        text-align: right;
      }
    }
  }
}


/**** Activity section ****/

.members-container{
  margin: 0;
  margin-right: 1em;

  .member-title {
    padding: 3em;
    background: @color-light_red;

    p{
      margin: 0;
    }

    p:first-child{
      font-size: 2em;
      color: #fff;
      display: inline-block;
      float: left;
    }

    p:nth-child(2){
      display: inline-block;
      float: right;

      button {
        outline: 0;
        border: none;
        background: #fff;
        padding: 0.5em;
        font-size: 1em;
        color: @color-light_red;
      }

      button:active {
        position: relative;
        top: 2px;
      }
    }
  }

  .members-sub-container {
    background: #fff;
    box-shadow: 0 3px 0 #d7e4ed;
    position: relative;
    padding: 1em 0;

    .timelineBar {
      position: absolute;
      top: 0;
      left: 6.5em;
      height: 100%;
      width: 4px;
      background: #d7e4ed;
    }

    .member-block {
      position: relative;
      padding: 1em;
      margin: 2em;

      img{
        vertical-align: middle;
        width: 7em;
        border-radius: 10em;
        padding: 0.2em;
        background: #eee;
        display: inline-block;
        box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
      }

      div {
        vertical-align: middle;
        display: inline-block;
        padding: 1em 2em;

        p {
          vertical-align: middle;
          margin: 0;
        }

        p:first-child {
          font-size: 2em;
          color: @color-light_red;
        }

        p:nth-child(2) {
          color: #999;
          font-size: 1.5em;
        }
      }

    }
  }
}

/**** Activities Home page ****/

.activities-logo-container{
  text-align: center;

  .activities-logo-block{
    padding: 10em;

    span {
      font-size: 30em;
      color: #d7e4ed;
      text-shadow: 0px 2px 3px #fafcfd;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    p{
      margin-top: 10em;
      padding: 2em;
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;

      a {
        font-size: 2em;
        color: #a2c0d5;
        background-color: transparent;
        margin: 1em;
        padding: 0.5em 0.75em;
        outline: 0;
        border: 2px solid #c5d8e5;
        border-radius: 5px;
      }

      a:hover {
        background: #fff;
        text-decoration: none;
      }

      a:active {
        position: relative;
        top: 2px;
      }
    }
  }
}

/**** Add activity page *****/

.add-activity-container {

  padding: 0 2em;
  .form-title{
    background: #222;
    padding: 4em 5em;
    color: #fff;

    div:first-child {
      .iconwraper()
    }

    .activity-label {
      font-size: 3em;
      margin: 0;
      padding-left: 1em;
      display: inline-block;
      vertical-align: middle;

      p:first-child {
        margin: 0;
      }

      p:nth-child(2) {
        margin: 0;
        font-size: 0.5em;
      }
    }
  }

  .members-list-section {
    background: #fff;

    .member-list {
      ul {
        margin: 0;
        padding: 0;
        li{
          color: #999;
          font-size: 2em;
          padding: 1em 2em;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }

  .form-container {

    .form-group{
      background: #fff;
      padding: 4em;
      box-shadow: 0 3px 0 #d7e4ed;

      p:first-child {
        margin: 0;
        font-size: 2em;
        color: #555;
      }

      .inputfield {
        background: #eee;
        outline: 0;
        border: none;
        border-radius: 5px;
        font-size: 2em;
        padding: 0.5em 1em;
        width: 100%;
        border: 2px solid #eee;
        color: #999;
        margin-top: 0.5em;
      }

      .inputfield:hover, .inputfield:active {
        background: #fff;
        border: 2px solid #ddd;
      }

      .input-error {
        margin: 0;
        padding: 0.5em 1.5em;
        color: #fff;
        background: #f06060;
        border-radius: 4px;
        font-size: 1.5em;

        span {
          float: right;
          line-height: 1.5em;
        }
      }

      .color-picker {
        ul {
          margin: 0;
          padding: 0;
          margin-top: 0.75em;

          li{
            cursor: pointer;
            width: 6em;
            height: 6em;
            display: inline-block;
            margin: 0.5em;
          }
        }
      }

      .icon-picker {
        ul {
          margin: 0;
          padding: 0;
          margin-top: 0.75em;

          li{
            cursor: pointer;
            font-size: 4em;
            display: inline-block;
            margin: 0.4em 0.1em;


            span {
              background: #eee;
              padding: 0.25em;
              border: 1px solid #eee;
            }

            span:hover {
              background: #fff;
              padding: 0.25em;
              border: 1px solid #eee;
            }
          }
        }
      }

      .members-title {
        margin: 0;
        font-size: 2em;
        color: #555;
      }

      .new-member-list {

        .list-fields {
          input {
            background: #fff;
            outline: 0;
            border: none;
            border-bottom: 1px solid #ddd;
            font-size: 1.5em;
            padding: 0.5em 1em;
            width: 100%;
            color: #999;
            margin-top: 0.5em;
          }
        }

        .list-fields:first-child {
          width: 45%;
          display: inline-block;
        }

        .list-fields:nth-child(2) {
          width: 45%;
          display: inline-block;
        }

        .list-fields:nth-child(3) {
          width: 8%;
          display: inline-block;
          p {
            margin: 0;
            cursor: pointer;
          }
        }
      }

      .friend-bttn {
        outline: none;
        border: 0;
        background: #eee;
        color: #999;
        padding: 0.65em 1em;
        font-size: 1.5em;
        letter-spacing: 1px;
        border: 1px solid #eee;
        margin-top: 0.25em;
      }

      .friend-bttn:hover {
        background: #f8f8f8;
      }
    }
  }

  .button-section{
    text-align: center;
    background: #fff;
    padding: 3em;
    box-shadow: 0 3px 0 #d7e4ed;

    .form-bttn {
      margin: 0 1em;
      outline: none;
      border: 0;
      background: #5fcf80;
      color: #fff;
      padding: 0.65em 1em;
      border-radius: 5px;
      font-size: 1.75em;
      box-shadow: 0 3px 0 #3ac162;
      letter-spacing: 1px;
    }

    .form-bttn:hover {
      opacity: 0.85;
    }

    .form-bttn:active {
      position: relative;
      top: 2px;
    }

    .bttn-submitting {
      margin: 0 1em;
      outline: none;
      border: 0;
      background: #5fcf80;
      color: #fff;
      padding: 0.65em 1em;
      border-radius: 5px;
      font-size: 1.75em;
      letter-spacing: 1px;
      box-shadow: 0 3px 0 #5fcf80;
      opacity: 0.85;
    }
  }
}

/**** All activities page *****/

.allactivities-page {
  .all-activities-container {
    .boxes();
  }
  .search-blocks();
}

/**** All friends page *****/

.friends-page {
  .friends-container{
    .boxes();
    }
  .search-blocks();
}
