<section class="ngview-section" ng-show="userloggedin.value">
    <div ng-controller="friends-Controller" class="wrap">
        <div class="container-fluid friends-page">
            <div class="row">
                <div class="col-md-8">
                    <div class="friends-container">
                        <div class="item-block" ng-repeat="friend in userfriends | filter:searchfriend" ng-click="gotofriend(friend.email);">
                            <div><p style="background: #f06060"><span class="icon-user2"></span></p></div>
                            <div class="box-label">
                                <p>{{friend.name | truncate:15}}</p>
                                <p>{{friend.email | truncate:15}}</p>
                            </div>
                        </div>
                        <div class="item-block" onclick="$('#addfriend-container').toggle()">
                            <div><p style="background: #ccc"><span class="icon-plus"></span></p></div>
                            <div class="box-label">
                                <p>Add Friend</p>
                                <p>Click here</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="addfriend-container" id="addfriend-container">
                        <form name="addfriendForm" ng-submit="submitForm(addfriendForm.$valid)" novalidate>
                            <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
                            <div class="form-title clearfix">
                                <p>Add Friend</p>
                                <p onclick="$('#addfriend-container').toggle()"><span class="icon-x"></span>
                                </p>
                            </div>
                            <br>
                            <!-- NAME -->
                            <div class="form-group">
                                <input type="text" name="name" class="input-field" placeholder="Name" ng-model="friend.name" ng-minlength="3" ng-maxlength="10" required>
                                <p ng-show="addfriendForm.name.$error.required && !addfriendForm.name.$pristine" class="input-error">Name is required <span class="icon-x"></span>
                                </p>
                                <p ng-show="addfriendForm.name.$error.minlength && !addfriendForm.name.$pristine" class="input-error">Min length is 3 <span class="icon-x"></span>
                                </p>
                                <p ng-show="addfriendForm.name.$error.maxlength && !addfriendForm.name.$pristine" class="input-error-error">Max length is 10 <span class="icon-x"></span>
                                </p>
                            </div>
                            <!-- EMAIL -->
                            <div class="form-group">
                                <input type="email" name="email" class="input-field" placeholder="Email Address" ng-model="friend.emailId" required>
                                <p ng-show="addfriendForm.email.$error.required && !addfriendForm.email.$pristine" class="input-error">Email is required <span class="icon-x"></span>
                                </p>
                                <p ng-show="addfriendForm.email.$error.email && !addfriendForm.email.$pristine" class="input-error">Email is invalid <span class="icon-x"></span>
                                </p>
                            </div>

                            <div class="invalid-error" ng-show="inputerror"><span class="icon-x"></span> Invalid Credentials</div>

                            <!-- SUBMIT BUTTON -->
                            <button ng-hide="loading" type="submit" class="form-bttn" ng-disabled="addfriendForm.$invalid">Submit</button>
                            <button ng-show="loading" class="bttn-submitting"><i class="fa fa-spinner fa-spin"></i> Adding..</button>
                        </form>
                    </div>

                    <div class="search-container">
                        <input type="text" ng-model="searchfriend" placeholder="search... "/>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('#dashboard').removeClass("side-menu-active");
    $('#activities').removeClass("side-menu-active");
    $('#friends').addClass("side-menu-active");
    $('#settings').removeClass("side-menu-active");

    document.getElementById("page-title").innerHTML = "Friends";
    $('#activities-menu').hide();
    $('#addfriend-container').hide();

</script>