<div ng-controller="activities-Controller" class="wrap">
    <div class="page-title">Activities</div>
</div>

<script type="text/javascript">
    $('#dashboard').removeClass("side-menu-active");
    $('#activities').addClass("side-menu-active");
    $('#friends').removeClass("side-menu-active");
    $('#settings').removeClass("side-menu-active");
    
    document.getElementById("page-title").innerHTML = "Activities";
    $('#activities-menu').show();

    function toggleactivites() {
        $('#activities-menu').toggle();
    }
</script>