<br>
<div ng-controller="dashboard-Controller" class="wrap">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-3">
                <nav class="side-menu">
                    <ul>
                        <li><a href="#"><span class="icon-box"></span> Dashboard</a>
                        </li>
                        <li><a href="#"><span class="icon-tags"></span> Groups <span class="icon-angle-right" style="float: right;"></span></a>
                            <ul>
                                <li><a href="#"><span class="icon-tag"></span> Roomies</a>
                                </li>
                                <li><a href="#"><span class="icon-tag"></span> Buddies</a>
                                </li>
                                <li><a href="#"><span class="icon-plus"></span> Add Group</a>
                                </li>
                            </ul>

                        </li>
                        <li><a href="#"><span class="icon-users"></span> Friends <span class="icon-angle-right" style="float: right;"></span></a>
                            <ul>
                                <li><a href="#"><span class="icon-user2"></span> Robin Van Persie</a>
                                </li>
                                <li><a href="#"><span class="icon-user2"></span> Shinjin Kagawa</a>
                                </li>
                                <li><a href="#"><span class="icon-plus"></span> Add Friend</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <div class="main-section">
                    <div class="main-content">
                        <div class="main-header">
                            <p class="main-label">Dashboard</p>
                            <button class="bttn">Add turn</button>
                            <hr>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="turn-left">
                                            <p>Turns completed</p>
                                            <p><strong>25</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="turn-middle">
                                            <p>Turns in advance</p>
                                            <p><strong>3</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="turn-right">
                                            <p>Turns remaining</p>
                                            <p><strong>7</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="turn-petti">
                            <div class="turn-summary">
                                <div class="turn-date">
                                    <p>JUN 30</p>
                                </div>
                                <div class="turn-title">
                                    <p>Rooney's turn</p>
                                </div>
                                <div class="turn-action">
                                    <p><span class="icon-cog"></span>
                                    </p>
                                </div>
                                <div class="turn-status">
                                    <p><span class="icon-thumbs-up"></span></p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-3">
                <nav class="side-menu settings">
                    <ul>
                        <li><a href="#"><span class="icon-cogs"></span> Settings <span class="icon-angle-right" style="float: right;"></span></a>
                            <ul>
                                <li><a href="#"><span class="icon-tag"></span> Roomies</a>
                                </li>
                                <li><a href="#"><span class="icon-tag"></span> Buddies</a>
                                </li>
                                <li><a href="#"><span class="icon-plus"></span> Add Group</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="icon-tags"></span> Groups <span class="icon-angle-right" style="float: right;"></span></a>
                            <ul>
                                <li><a href="#"><span class="icon-tag"></span> Roomies</a>
                                </li>
                                <li><a href="#"><span class="icon-tag"></span> Buddies</a>
                                </li>
                                <li><a href="#"><span class="icon-plus"></span> Add Group</a>
                                </li>
                            </ul>

                        </li>
                        <li><a href="#"><span class="icon-users"></span> Friends <span class="icon-angle-right" style="float: right;"></span></a>
                            <ul>
                                <li><a href="#"><span class="icon-user2"></span> Robin Van Persie</a>
                                </li>
                                <li><a href="#"><span class="icon-user2"></span> Shinjin Kagawa</a>
                                </li>
                                <li><a href="#"><span class="icon-plus"></span> Add Friend</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>