<br>
<div ng-controller="dashboard-Controller" class="wrap">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-3">
                <nav class="side-menu">
                    <ul>
                        <li><a href="" class="menu-active"><span class="icon-box"></span> Dashboard</a>
                        </li>
                        <li><a href="" onclick="toggleactivities()"><span class="icon-tags"></span> Activities <span class="icon-angle-right" style="float: right;"></span></a>
                            <ul id="activities">
                                <li ng-repeat="activity in activities"><a href="#"><span class="icon-tag"></span> {{activity}}</a>
                                </li>
                                <li><a href="#"><span class="icon-plus"></span> Add Activity</a>
                                </li>
                            </ul>

                        </li>
                        <li><a href="" onclick="togglefriends()"><span class="icon-users"></span> Friends <span class="icon-angle-right" style="float: right;"></span></a>
                            <ul id="friends">
                                <li ng-repeat="friend in friends"><a href="#"><span class="icon-user2"></span> {{friend}}</a>
                                    <li><a href="#"><span class="icon-plus"></span> Add Friend</a>
                                    </li>
                            </ul>
                            </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <div class="main-section">
                    <div class="main-content">
                        <div class="main-header">
                            <p class="main-label">Dashboard</p>
                            <button class="bttn">Add turn</button>
                            <hr>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="turn-left">
                                            <p>Turns completed</p>
                                            <p><span>25</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="turn-middle">
                                            <p>Turns in advance</p>
                                            <p><span>3</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="turn-right">
                                            <p>Turns remaining</p>
                                            <p><span>7</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p class="dashboard-message">Your next turn is in <span>2</span> days</p>
                        </div>
                    </div>
                </div>
                <br>
                <div ng-repeat="feed in feeds.results">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="turn-petti">
                                <div class="turn-summary">
                                    <div class="turn-date">
                                        <p>{{feed.date | date: 'dd'}}</p>
                                        <p><span>{{feed.date | date: 'MMM'}}</span> <br> {{feed.date | date: 'yyyy'}}</p>                                        
                                    </div>
                                    <div class="turn-title">
                                        <p>{{feed.name}}'s turn</p>
                                    </div>
                                    <div class="turn-action">
                                        <p><span class="icon-cog"></span>
                                        </p>
                                    </div>
                                    <div class="turn-status">
                                        <p><span class="icon-thumbs-up"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-md-3">
                <nav class="side-menu settings">
                    <ul>
                        <li><a href="" onclick="togglesettings()"><span class="icon-cogs"></span> Settings <span class="icon-angle-right" style="float: right;"></span></a>
                            <ul id="settings">
                                <li><a href=""><span class="icon-user2"></span> Account</a>
                                </li>
                                <li><a href=""><span class="icon-cog2"></span> Notifications</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $('#activities').hide();
    $('#friends').hide();
    $('#settings').hide();

    function toggleactivities() {
        $('#activities').toggle();
    }

    function togglefriends() {
        $('#friends').toggle();
    }

    function togglesettings() {
        $('#settings').toggle();
    }
</script>